---

- name: install remi
  yum: name=http://rpms.famillecollet.com/enterprise/remi-release-7.rpm state=present

- name: install php7 and modules
  yum: name={{ item }} state=present eneblerepo=remi
  with_items:
    - php
    - php-cli
    - php-mysqlnd
    - php-xml
    - php-mbstring
    - php-xdebug
    - php-pdo
    - php-gd
  notify:
    - httpd restart
